{% extends "base.html" %}

{% block content %}

<h2>Shipment Details</h2>

<table class="table">

<tr>
<th>Tracking Number</th>
<td>{{ shipment.tracking_number }}</td>
</tr>

<tr>
<th>Sender</th>
<td>{{ shipment.sender_name }}</td>
</tr>

<tr>
<th>Receiver</th>
<td>{{ shipment.receiver_name }}</td>
</tr>

<tr>
<th>Origin</th>
<td>{{ shipment.origin }}</td>
</tr>

<tr>
<th>Destination</th>
<td>{{ shipment.destination }}</td>
</tr>

<tr>
<th>Weight</th>
<td>{{ shipment.weight }} kg</td>
</tr>

<tr>
<th>Type</th>
<td>{{ shipment.shipment_type }}</td>
</tr>

<tr>
<th>Status</th>
<td>{{ shipment.current_status }}</td>
</tr>

</table>

<a href="/shipments"
class="btn btn-secondary">

Back

</a>

{% endblock %}
